<h1>App</h1>

<p>The app component is used to wrap the contents of your application vertically. It's normally placed in the application template.</p>

<h2>Usage</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="app"}}

    {{#uxs-app fixedNav=fixedNav}}
      <p>Content...</p>
    {{/uxs-app}}

  {{/demo.example}}

  {{demo.snippet "app.hbs"}}

{{/docs-demo}}

<h2>Properties</h2>

<p>Now explore the various properties available in this component:</p>

<table class="docs-args-table">
  <tbody>
    {{!-- <tr>
      <td>title</td>
      <td>{{input placeholder="App Title" value=title}}</td>
      <td><em>String</em></td>
    </tr> --}}
    <tr>
      <td>fixedNav</td>
      <td>{{docs-toggle value=fixedNav}}</td>
      <td><em>Boolean</em></td>
    </tr>
  </tbody>
</table>
