.uxs-breadcrumb {
  @include text-color-modifiers();
  @include background-color-modifiers();
  // @include contrast-border-color-modifiers();
  border-color  : $c-light;
  display       : flex;
  flex-direction: row;
  padding       : rs(0.5);
  @include mq(tablet) {
    padding: rs(0.5) rs(1);
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  &__item {
    @include text-truncate;
    // color         : $c-grey;
    padding-right : rs(0.75);
    position      : relative;
    opacity       : 0.5;
    text-transform: uppercase;
    @include mq(tablet) {
      padding-right: rs(1);
    }
    @include mq(tablet, max) {
      display: none;

      &:nth-last-child(-n+3) {
        display: block;
      }
    }

    &--detail {
      @include detail-font-size;
    }

    &:after {
      content   : '/';
      position  : absolute;
      text-align: center;
      top       : 0;
      right     : 0;
      width     : rs(0.75);
      @include mq(tablet) {
        width: rs(1);
      }
    }

    &:last-child {
      opacity: 1;

      &:after {
        content: '';
      }
    }
  }
}