.uxs-header {
  &--on-white {
    background-color: $c-white;
  }

  &--on-light {
    background-color: $c-light;
  }

  &--on-grey {
    background-color: $c-grey;
  }

  &--on-dark {
    background-color: $c-dark;
  }

  &__image {
    border-bottom-left-radius : 50% 25px;
    border-bottom-right-radius: 50% 25px;
  }

  &__body {
    border-bottom-left-radius : 50% 25px;
    border-bottom-right-radius: 50% 25px;
    @each $modifier, $color in $defaultColors {
      &--#{$modifier} {
        background: linear-gradient(180deg, rgba($color,1) 0%, rgba($color,1) 50px, rgba($color,0.5) 100%);
      }
    }

    &--with-image {}
  }

  &__toolbar {}

  &__title {
    text-align : center;
    font-weight: 300;
  }
}