.uxs-icon-avatar {
  @extend .material-icons;
  @include contrast-background-color-modifiers();
  @include background-color-modifiers();
  $size      : rem-size($baseline*2);
  align-items: center;
  display    : block;
  height     : $size;
  line-height: $size;
  text-align : center;
  width      : $size;

  &--round {
    border-radius: 100%;
  }

  &--border {
    border: rem-size(1px) solid $c-light;
    @include border-color-modifiers();
  }

  &--selected {
    background-color: $c-accent;
  }

  &--small {
    $size      : rem-size($baseline*1);
    line-height: $size;
    height     : $size;
    width      : $size;
  }

  &--large {
    $size      : rem-size($baseline*3);
    line-height: $size;
    height     : $size;
    width      : $size;
  }

  &--huge {
    $size      : rem-size($baseline*4);
    line-height: $size;
    height     : $size;
    width      : $size;
  }

  &--giant {
    $size      : rem-size($baseline*6);
    line-height: $size;
    height     : $size;
    width      : $size;
  }
}