.uxs-button {
  $self: '.uxs-button';

  // Button Basics
  @include button-component;

  /* ################ *
   * Contained Button *
   * ################ */
  &--contained {
    /*
     * Default
     */
    @include elevation(1);
    // Color modifiers
    @each $modifier, $color in $defaultColors {
      &#{$self}--#{$modifier} {
        background-color: $color;
        color           : contrast-color($color);
      }
    }
    /*
     * Hover/Focused/Selected
     */
    &--selected,
    &:focus,
    &:hover {
      @include elevation(4);
    }
    /*
     * Disabled
     */
    &--disabled,
    &:disabled {
      @include elevation(0);
      background-color: $c-mid;
      color           : rgba($c-dark,.5);

      &:focus,
      &:hover {
        @include elevation(0);
      }
    }
  }
  /*
   * Outlined Button
   */
  &--outlined {
    /*
     * Default
     */
    padding-top   : rs(1,1); // Account for border
    padding-bottom: rs(1,1); // size

    // Color modifiers
    @each $modifier, $color in $defaultColors {
      &#{$self}--#{$modifier} {
        border: rem-size(1px) solid $color;
        color : $color;
      }
    }
    /*
     * Hover/Focused/Selected
     */
    &--selected,
    &:focus,
    &:hover {
      background-color: rgba($c-primary,0.2);
    }
    /*
     * Disabled
     */
    &--disabled,
    &:disabled {
      border: rem-size(1px) solid $c-mid;
      color : $c-mid;

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }
  /*
   * Naked Button
   */
  &--naked {
    /*
     * Default
     */
    // Color modifiers
    @each $modifier, $color in $defaultColors {
      &#{$self}--#{$modifier} {
        color: $color;
      }
    }

    /*
     * Hover/Focused/Selected
     */
    // Color modifiers
    @each $modifier, $color in $defaultColors {
      &#{$self}--#{$modifier} {
        &#{$self}--selected,
        &#{$self}:focus,
        &#{$self}:hover {
          background-color: rgba($color,0.2);
        }
      }
    }
  }

}
