.uxs-header {
  color     : $c-white;
  min-height: rem-size($baseline*10);
  overflow  : auto;
  position  : relative;
  width     : 100%;
  @include background-color-modifiers();

  &__image {
    @include background-color-modifiers();
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    bottom             : 0;
    left               : 0;
    position           : absolute;
    right              : 0;
    top                : 0;
    z-index            : 2;
  }

  &__body {
    position: relative;
    overflow: auto;
    z-index : 2;

    &--with-image {
      background-color: transparent;
    }
  }

  &__toolbar {
    background: transparent;
    color     : inherit;
  }

  &__title {
    @include text-truncate;
    @include type-heading;
    font-weight: 300;
    margin     : rem-size($baseline*5) rem-size($baseline*.5) rem-size($baseline*1) rem-size($baseline*1.5);
    @include mq(tablet) {
      font-size  : rem-size($s-huge);
      line-height: rem-size($baseline*2);
      font-weight: 100;
    }
  }
}