.uxs-text-avatar {
  border-top-left-radius    : 50% rs(0.125);
  border-top-right-radius   : 50% rs(0.125);
  border-bottom-left-radius : 50% rs(0.125);
  border-bottom-right-radius: 50% rs(0.125);
}