.uxs-header {
  &--on-white {
    background-color: $c-white;
  }

  &--on-light {
    background-color: $c-light;
  }

  &--on-grey {
    background-color: $c-grey;
  }

  &--on-dark {
    background-color: $c-dark;
  }

  &__image {
    border-bottom-left-radius : 50% 25px;
    border-bottom-right-radius: 50% 25px;
  }

  &__body {
    // @include background-color-modifiers($opacity:0.9);
    background                : linear-gradient(180deg, rgba($c-dark,1) 0%, rgba($c-dark,1) 50px, rgba($c-dark,0.5) 100%);
    border-bottom-left-radius : 50% 25px;
    border-bottom-right-radius: 50% 25px;

    &--with-image {}
  }

  &__toolbar {}

  &__title {
    text-align : center;
    font-weight: 300;
  }
}