.uxs-breadcrumb {
  @include background-color-modifiers();
  @include body-2;
  border-color  : $c-light;
  display       : flex;
  flex-direction: row;
  // padding       : rs(2);
  min-width     : 100%;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  &__item {
    @include text-truncate;
    padding-right : rs(2);
    position      : relative;
    opacity       : 0.5;
    text-transform: uppercase;
    @include mq(tablet) {
      padding-right: rs(3);
    }
    @include mq(tablet, max) {
      display: none;

      &:nth-last-child(-n+3) {
        display: block;
      }
    }

    &:after {
      content   : '/';
      position  : absolute;
      text-align: center;
      top       : 0;
      right     : 0;
      width     : rs(2);
      @include mq(tablet) {
        width: rs(3);
      }
    }

    &:last-child {
      opacity     : 1;
      flex-shrink : 0;
      margin-right: 0;

      &:after {
        content: '';
      }
    }
  }
}