.uxs-text-avatar {
  @include background-color-modifiers();
  $size          : rem-size($baseline*2);
  align-items    : center;
  display        : flex;
  flex-direction : column;
  height         : $size;
  justify-content: space-around;
  line-height    : $size;
  width          : $size;

  &--round {
    border-radius: $size;
  }

  &--small {
    $size      : rem-size($baseline*1);
    line-height: $size;
    height     : $size;
    width      : $size;
  }

  &--large {
    $size      : rem-size($baseline*3);
    line-height: $size;
    height     : $size;
    width      : $size;
  }

  &--huge {
    $size      : rem-size($baseline*4);
    line-height: $size;
    height     : $size;
    width      : $size;
  }

  &--giant {
    $size      : rem-size($baseline*6);
    line-height: $size;
    height     : $size;
    width      : $size;
  }
}