.uxs-icon {
  @include transition-all;
  @extend .material-icons;
  cursor  : pointer;
  position: relative;
  width   : rem-size($baseline);

  &:focus,
  &:hover {
    &::before {
      $size           : rem-size($baseline*1.25);
      border-radius   : 100%;
      background-color: rgba($c-white, 0.1);
      content         : '';
      height          : $size;
      left            : rem-size($baseline*.125*-1);
      position        : absolute;
      top             : rem-size($baseline*.125*-1);
      width           : $size;
    }
  }

  &--white {
    color: $c-white;

    &:focus,
    &:hover {
      &::before {
        background-color: rgba($c-white, 0.1);
      }
    }
  }

  &--primary {
    color: $c-primary;

    &:focus,
    &:hover {
      &::before {
        background-color: rgba($c-primary, 0.1);
      }
    }
  }

  &--accent {
    color: $c-error;

    &:focus,
    &:hover {
      &::before {
        background-color: rgba($c-error, 0.1);
      }
    }
  }
  /**
   * Gray
   */
  &--gray {
    color: $c-grey;

    &:focus,
    &:hover {
      &::before {
        background-color: rgba($c-grey, 0.1);
      }
    }
  }
  /**
   * Black
   */
  &--black {
    color: $c-dark;

    &:focus,
    &:hover {
      &::before {
        background-color: rgba($c-dark, 0.1);
      }
    }
  }
}

.uxs-form__icon {
  $size        : rem-size($baseline*1.5);
  @extend .uxs-icon;
  background   : $c-primary-5;
  border       : 1px solid $c-primary;
  border-radius: 0;
  color        : $c-dark;
  cursor       : pointer;
  display      : block;
  height       : $size;
  line-height  : $size;
  text-align   : center;
  width        : $size;

  &--prefix {
    border-right: 0;
  }

  &--suffix {
    border-left: 0;
  }
}
//
// &__icon {
//   @include transition-all;
//   @extend .material-icons;
//   $size        : rem-size($baseline*1.5);
//   border-radius: rem-size(3px);
//   color        : $c-grey;
//   cursor       : pointer;
//   display      : block;
//   height       : $size;
//   line-height  : $size;
//   margin-left  : rem-size($baseline*.5);
//   text-align   : center;
//   width        : $size;
//
//   &:focus,
//   &:hover {
//     background-color: $c-light;
//   }
//
//   &:first-child {
//     margin-left: 0;
//   }
//
//   &--prefix {
//     background   : $c-primary;
//     border-radius: 0;
//     color        : $c-white;
//   }
// }
//
// &__icon~.form__icon {
//   margin-left: 0;
// }