.uxs-app {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  min-height    : 100vh;

  &--has-fixed-navbar {
    padding-top: rem-size($baseline*2);
  }

  &__padder {
    height: rem-size($baseline*2.5);
    width : 100%;
  }
}