.uxs-app-bar {
  display       : flex;
  flex-direction: row;
  padding       : rs(2);
  width         : 100%;
  // Color modifiers
  @each $modifier, $color in $defaultColors {
    &--#{$modifier} {
      background: $color;
      color     : contrast-color($color);
    }
  }
  // Style Modifers
  &--extended {
    padding-bottom: rs(3);
  }
  // Title
  &__title {
    @include headline-6;
    @include text-truncate;
    flex        : 1 1 auto;
    margin-right: rs(3);

    &--extended {
      padding-top: rs(8);
    }
  }
  // Icons
  &__action,
  &__navigation,
  &__overflow-menu {
    @include icon(3);
    @include icon-hover();
    flex-shrink: 0;
  }
  //
  &__navigation {
    margin-right: rs(2);
  }

  &__action {
    // margin-right: rs(1);
    // &:last-child {
    //   margin-right: 0;
    // }
  }
}