.uxs-swatch {
  border        : rem-size(1px) solid $c-light;
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
  margin        : rem-size(-2px);
  @include mq(tablet) {
    flex-direction: row;
    flex-wrap     : nowrap;
  }

  &__item {
    align-items    : flex-start;
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    height         : rs(18, 2);
    width          : 50%;
    padding        : rs(2);
    position       : relative;
    @include mq(tablet) {
      width: auto;
      flex : 1;
    }
  }

  &__var {
    @include body-1;
    display: block;
  }
}
