.uxs-datalist {
  &__item {
    margin-bottom: rem-size($baseline*1);

    &--bordered {
      border-bottom : rem-size(1px) solid $c-light;
      padding-bottom: rem-size(($baseline*0.5));
      margin-bottom : rem-size(($baseline*0.5)-1px);
    }
  }

  &__label {
    @include type-subheading;
    // margin-bottom: rem-size($baseline*0.25);
  }

  &__row {
    display       : flex;
    flex-direction: row;
    padding-left  : rem-size($baseline*0.5);
  }

  &__value {
    @include type-content;
  }

  &__tip {
    @include type-detail;
  }
}