body > .ember-view {
  min-height    : 100vh;
  display       : flex;
  flex-direction: column;
}

.uxs-app {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  min-height    : 100vh;
  overflow      : auto;

  &--has-fixed-navbar {
    $height    : #{rs(9)};
    padding-top: $height;
    @supports (padding-top: env(safe-area-inset-top)) {
      padding-top: calc(env(safe-area-inset-top) + #{$height});
    }
  }
}
