.uxs-data {
  @include body-1;
  display       : flex;
  flex-direction: column;
  text-transform: none;

  &__item {
    border-bottom : rem-size(1) solid $c-light;
    display       : flex;
    flex-direction: column;
    padding       : rs(1.5) 0 rs(1.5, 1);

    &--cell,
    &--inline,
    &--table {
      flex-direction: row;
      flex-wrap     : wrap;
    }

    &--inset {
      padding-left : rs(2);
      padding-right: rs(2);
      @include mq(tablet) {
        padding-left : rs(2-tablet);
        padding-right: rs(2-tablet);
      }
    }

    &--padded {
      margin-left : rs(2);
      margin-right: rs(2);
      @include mq(tablet) {
        margin-left : rs(3);
        margin-right: rs(3);
      }
    }
  }

  &__group {}

  &__label {
    @include label-type();
  }

  &__value {
    padding-left: rs(2);
    @include input-type();
  }

  &__tip {
    @include helper-type();
  }

  &__group,
  &__label,
  &__value {
    &--cell,
    &--table {
      flex: 1 1 auto;
    }
  }

  &__label {
    &--cell,
    &--inline,
    &--table {
      padding-right: rs(1);
    }

    &--cell,
    &--table {
      max-width: 30%;
    }

    &--grouped {
      max-width: none;
    }
  }

  &__group,
  &__value {
    &--inline {
      flex: 1 1 auto;
    }

    &--cell,
    &--table {
      max-width: 70%;
    }

    &--grouped {
      max-width: none;
    }

    &--table {
      text-align: right;
    }
  }

  &__tip {
    // min-width: 100%;
  }
}
