body {
  @include body-type;
  @include content-font-size;
  background: $c-white;
  color     : $c-dark;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display  : block;
  max-width: 100%;
}

html {
  height: 100%;
}

.ember-application {
  height: 100%;

  > .ember-view {
    height: 100%;
  }
}