@import 'reset.scss';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Material+Icons';

html {
  min-height: 100vh;
}

.ember-application {
  min-height: 100vh!important;
  height    : auto!important;
  overflow  : auto!important;

  > .ember-view {
    min-height: 100vh!important;
    height    : auto!important;
  }
}