.uxs-button {
  @include text-truncate;
  @include transition-all;
  @extend .content;
  background-color  : $c-grey;
  border            : rem-size(1px) solid $c-grey;
  color             : $c-white;
  cursor            : pointer;
  display           : block;
  line-height       : rs(1.5);
  font-weight       : 400;
  padding           : 0;
  margin            : rs(0.5, 1px) 0;
  max-width         : $max-width-content;
  min-height        : rs(1.5);
  text-align        : center;
  width             : rs(12);
  -webkit-appearance: none;
  @include input-glow {
    box-shadow: 0 0 0.5rem $c-grey;
  };
  @include background-color-modifiers();
  @include border-color-modifiers();

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &--disabled {
    opacity: 0.6;
    cursor : not-allowed;

    &:focus,
    &:hover {
      opacity: 0.6;
    }
    @if $high-contrast {
      text-decoration: line-through;
    }
  }

  &--selected,
  &.active,
  &.selected {
    background-color: $btn-selected-background;
    color           : $c-grey;

    &:focus,
    &:hover {
      background-color: $c-white;
      color           : $c-grey;
    }
  }

  &--loading {
    animation                : opacityPulse 3s ease-out;
    animation-iteration-count: infinite;
    opacity                  : 1;
  }

  &--mini {
    font-size  : rem-size($s-small);
    line-height: rs(1.0, 2px);
    max-width  : $max-width-content;
    min-height : rs(1.0, 2px);
    width      : rs(8);
  }

  &--inline {
    display  : inline-block;
    margin   : rs(0.25) rs(0.25) rs(0.25) 0;
    padding  : 0 rs(1.0);
    max-width: fit-content;
    width    : auto;

    &:last-child {
      margin-right: 0;
    }
  }

  &--naked {
    background    : transparent;
    color         : $c-grey;
    border        : none;
    font-weight   : bold;
    padding       : 0 rm(0.25);
    text-transform: uppercase;
    // width         : auto;
    @each $modifier, $color in $defaultColors {
      &.uxs-button--#{$modifier} {
        color: $color;
      }
    }

    &:focus,
    &:hover {
      background-color: rgba($c-dark,0.05);
    }
  }

  &--inline.uxs-button--mini {
    padding: 0 rs(0.5);
    margin : 0 rs(0.125) 0 0;
  }

  &--inline.uxs-button--naked {
    padding: 0 rs(0.25);
  }
}

.uxs-button-group {
  background    : $c-primary;
  display       : flex;
  flex-direction: column;
  padding       : rem-size($baseline*0) rem-size(($baseline*.75) - 1px);
  overflow      : hidden;
  max-width     : $max-width-content;
  margin        : 0 auto;
  width         : 100%;

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--mini {
    max-width: $max-width-detail;
  }

  &--inline {
    flex-direction: row;
    padding       : rem-size($baseline*.5);
  }

  &__item {
    &:not(.uxs-button-group__item--inline) {
      margin-bottom: 0;

      &:first-child {
        margin-top: rem-size(($baseline*0.75) - 1px);
      }

      &:last-child {
        margin-bottom: rem-size(($baseline*0.75) - 2px);
      }
    }

    &--inline {
      margin-bottom: 0;
    }
  }
}