/*
 * padding helper classes
 */
.p {
  padding: rs(1);
}

.pt {
  padding-top: rs(1);
}

.pr {
  padding-right: rs(1);
}

.pb {
  padding-bottom: rs(1);
}

.pl {
  padding-left: rs(1);
}
// Double

.p2 {
  padding: rs(2);
}

.pt2 {
  padding-top: rs(2);
}

.pr2 {
  padding-right: rs(2);
}

.pb2 {
  padding-bottom: rs(2);
}

.pl2 {
  padding-left: rs(2);
}
// Tripple

.p3 {
  padding: rs(3);
}

.pt3 {
  padding-top: rs(3);
}

.pr3 {
  padding-right: rs(3);
}

.pb3 {
  padding-bottom: rs(3);
}

.pl3 {
  padding-left: rs(3);
}