/**
 Theme Settings
 ---
 @class Variables
 @namespace Styles
 @public
*/
/*
 * Sizes
 */
$baseline: 25px!default; //
/**
 Is this a high contrast theme
 ---
 @property high-contrast
 @default  false
 @type     {(boolean)}
 @public
*/
$high-contrast: false!default;
/*
 * Media Queries
 */
$breakpoints: (
  "phone"       : 480px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);
/*
 * Animations
 */
$transition-duration: 0.2s!default;
$transition-timing-function: cubic-bezier(.4,0,.2,1)!default;
/*
 * Typeography
 */
$type-body-family: 'Lato', sans-serif!default;
$type-body-weight: 700!default;
$type-light-family: 'Lato', sans-serif!default;
$type-light-weight: 300!default;
$type-bold-family: 'Lato', sans-serif!default;
$type-bold-weight: 700!default;
$s-giant: 76.244px!default;
$s-huge: 47.123px!default;
$s-large: 29.124px!default;
$s-medium: 18px!default;
$s-small: 11.125px!default;
$s-tiny: 6.876px!default;
/* Sizes used as style modifiers */
$defaultSizes: (
  "giant" : $s-giant,
  "huge"  : $s-huge,
  "large" : $s-large,
  "medium": $s-medium,
  "small" : $s-small,
  "tiny"  : $s-tiny,
);
$defaultLineHights: (
  "giant" : $baseline*3,
  "huge"  : $baseline*2,
  "large" : $baseline*2,
  "medium": $baseline*1,
  "small" : $baseline*1,
  "tiny"  : $baseline*1,
);
$s-sk-medium: 15px!default;
$max-width-content: rem-size(480px)!default;
$max-width-detail: rem-size(320px)!default;
/*
 * Colors https://coolors.co/1c77c3-141414-5fad56-eca400-db3a34
 */
$c-dark: #141414!default;
$c-grey: shade-light($c-dark, 5, 15)!default;
$c-mid: shade-light($c-dark, 10, 15)!default;
$c-light: shade-light($c-dark, 14, 15)!default;
$c-white: rgb(255,255,255)!default;
/* Aliases */
$c-sk-back: $c-mid!default;
$c-sk-front: $c-light!default;
$c-sk-light: lighten($c-sk-front, 2%)!default;
/* Primary */
$c-primary: #1C77C3!default;
$c-primary-1: $c-primary!default;
$c-primary-2: shade-light($c-primary, 1)!default;
$c-primary-3: shade-light($c-primary, 2)!default;
$c-primary-4: shade-light($c-primary, 3)!default;
$c-primary-5: shade-light($c-primary, 4)!default;
/* Accent */
$c-accent: #8F3985!default;
$c-accent-1: $c-accent!default;
$c-accent-2: shade-light($c-accent, 1)!default;
$c-accent-3: shade-light($c-accent, 2)!default;
$c-accent-4: shade-light($c-accent, 3)!default;
$c-accent-5: shade-light($c-accent, 4)!default;
/* Success */
$c-success: #5FAD56!default;
$c-success-1: $c-success!default;
$c-success-2: shade-light($c-success, 1)!default;
$c-success-3: shade-light($c-success, 2)!default;
$c-success-4: shade-light($c-success, 3)!default;
$c-success-5: shade-light($c-success, 4)!default;
/* Alert */
$c-error: #DB3A34!default;
$c-error-1: $c-error!default;
$c-error-2: shade-light($c-error, 1)!default;
$c-error-3: shade-light($c-error, 2)!default;
$c-error-4: shade-light($c-error, 3)!default;
$c-error-5: shade-light($c-error, 4)!default;
/* Warning */
$c-warning: #ECA400!default;
$c-warning-1: $c-warning!default;
$c-warning-2: shade-light($c-warning, 1)!default;
$c-warning-3: shade-light($c-warning, 2)!default;
$c-warning-4: shade-light($c-warning, 3)!default;
$c-warning-5: shade-light($c-warning, 4)!default;
/* Colors used as style modifiers */
$defaultColors: (
  "primary": $c-primary,
  "accent" : $c-accent,
  "success": $c-success,
  "error"  : $c-error,
  "warning": $c-warning,
);
/* The lightness a color should exceed to require a dark contrast color*/
$contrast-threshold: 60!default;
/*
 * Buttons
 */
$btn-background: $c-primary!default;
$btn-color: $c-white!default;
$btn-shadow-color: $c-primary-4!default;
$btn-border-color: $c-primary!default;
/* Hover */
$btn-hover-background: $c-primary-2!default;
$btn-hover-color: $c-white!default;
$btn-hover-border-color: $c-white!default;
/* Selected */
$btn-selected-background: $c-white!default;
$btn-selected-color: $c-primary!default;
/* Selected Hover */
$btn-selected-hover-background: $c-primary-5!default;
$btn-selected-hover-color: $c-primary!default;
/* Disabled */
$btn-disabled-background: $c-primary-2!default;
$btn-disabled-color: $c-primary-4!default;
$btn-disabled-border-color: $c-primary-4!default;
/* Disabled Hover */
$btn-disabled-hover-color: $c-primary-4!default;
$btn-disabled-hover-border-color: $c-primary-4!default;