/* ------------ */
/* UXS SETTINGS */
/* ------------ */
$isDocs: true!default;
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Material+Icons';

// If true use 8px grid else 25px grid;
$newGridDefault: true!default;

// Include deprecated styles
$incDeprecated: true!default;

// 1. The Grid
// 2. Media Queries
// 3. Animations
// 4. Typography
// 5. Color Pallet

/* ----------- */
/* 1. THE GRID */
/* ----------- */

// The grid baseline dimension used thoughout the app
// $baseline: 25px!default;
$baseline: 8px!default;

// The default browser font-size used to convert units to rem
$root-fs: 16!default;

// By default the spacing scale is shared by padding, margin, width & height
// Defailt spacing applies to all media querys (mobile first)
$defaultSpacing: 2!default;
// The $spacing hash can be used to apply different spacing at
// different media queries.
$spacing: (
  "tablet": 2,
)
!default;

// UXS includes a comprehensive numeric spacing scale. One spacing
// unit is equal to 1 $spacing unit at the relevant media query size
$spacing-scale: (
  "0" : 0,
  "½" : 0.5,
  "1" : 1,
  "1½": 1.5,
  "2" : 2,
  "3" : 3,
  "4" : 4,
  "5" : 5,
  "6" : 6,
  "8" : 8,
  "12": 12,
  "16": 16,
);

// Default padding sizes, can be overriden from spacing
$defaultPadding: $defaultSpacing;
$padding: $spacing!default;

// Default margin sizes, can be overriden from spacing
// first item is the default (mobile first)
$defaultMargin: $defaultSpacing;
$margin: $spacing!default;

// Default $width sizes, can be overriden from spacing
// first item is the default (mobile first)
$defaultWidth: $defaultSpacing;
$width: $spacing!default;

// Default margin sizes, can be overriden from spacing
// first item is the default (mobile first)
$defaultHeight: $defaultSpacing;
$height: $spacing!default;

// Default border-widths at different media sizes
// first item is the default (mobile first)
$border-width: (
  "phone": 1px,
)
!default;

/* ---------------- */
/* 2. MEDIA QUERIES */
/* ---------------- */

$breakpoints: (
  "phone"       : 480px,
  // xs
  "tablet"      : 768px,
  // sm
  "tablet-wide" : 1024px,
  // md
  "desktop"     : 1248px,
  // lg
  "desktop-wide": 1440px
  // xl
)
!default;

$mediaModifiers: (
  // phone is default so no need to add as a utility class modifier
  // xs: 'phone',
  sm: 'tablet',
  md: 'tablet-wide',
  lg: 'desktop',
  xl: 'desktop-wide'
)
!default;

/* ------------- */
/* 3. ANIMATIONS */
/* ------------- */

// The default time for css transition animations
$transition-duration: 0.2s!default;

// The default timing function for css transition animations
$transition-timing-function: cubic-bezier(.4,0,.2,1)!default;

/* ------------- */
/* 4. TYPOGRAPHY */
/* ------------- */

// @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,300i,400,400i,500,500i,600,700,700i800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,300i,400,400i,500,500i,600,700,700i800,900&display=swap');

// The default type face
$font-family: 'Lato', sans-serif;
$font-family-mono: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

// The default typeface body text
$type-body-family: $font-family, sans-serif!default;

// The default weight for body text
$type-body-weight: 400!default;

// The default typeface light text
$type-light-family: $font-family, sans-serif!default;

// The default weight for light text
$type-light-weight: 300!default;

// The default typeface bold text
$type-bold-family: $font-family, sans-serif!default;

// The default weight for bold text
$type-bold-weight: 700!default;

// Hash of sizes used thoughout system as modifiers in our mixins
$defaultWeights: (
  "bold"  : 700,
  "normal": 400,
  "light" : 300, // deprecated due to color clash
  "thin"  : 300,
)
!default;

// Our base font size to use with the scale
$type-base: 18px!default;
// A scale to use on our type sizes
$type-scale: 1.618!default;

// The default font-familys
// - Headings
$ff-headline-1: $font-family;
$ff-headline-2: $font-family;
$ff-headline-3: $font-family;
$ff-headline-4: $font-family;
$ff-headline-5: $font-family;
$ff-headline-6: $font-family;
// - Subtitles
$ff-subtitle-1: $font-family;
$ff-subtitle-2: $font-family;
// - Body
$ff-body-1: $font-family;
$ff-body-2: $font-family;
// - Misc
$ff-button: $font-family;
$ff-caption: $font-family;
$ff-overline: $font-family;

// The default font-sizes
// - Headings
$fs-headline-1: rem-size(96px);
$fs-headline-2: rem-size(60px);
$fs-headline-3: rem-size(48px);
$fs-headline-4: rem-size(34px);
$fs-headline-5: rem-size(24px);
$fs-headline-6: rem-size(20px);
// - Subtitles
$fs-subtitle-1: rem-size(16px);
$fs-subtitle-2: rem-size(14px);
// - Body
$fs-body-1: rem-size(16px);
$fs-body-2: rem-size(14px);
// - Misc
$fs-button: rem-size(14px);
$fs-caption: rem-size(12px);
$fs-overline: rem-size(10px);

// @if $incDeprecated == true {
$s-giant: scale($type-base, 3, $type-scale)!default;
$s-huge: scale($type-base, 2, $type-scale)!default;
$s-large: scale($type-base, 1, $type-scale)!default;
$s-medium: $type-base!default;
$s-small: scale($type-base, -1, $type-scale)!default;
$s-tiny: scale($type-base, -2, $type-scale)!default;

// Sizes used as style modifiers in our mixins
$defaultSizes: (
  "giant" : $s-giant,
  "huge"  : $s-huge,
  "large" : $s-large,
  "medium": $s-medium,
  "small" : $s-small,
  "tiny"  : $s-tiny,
)
!default;
// }

// The default line-heights
// - Headings
$lh-headline-1: rem-size(96px);
$lh-headline-2: rem-size(64px);
$lh-headline-3: rem-size(56px);
$lh-headline-4: rem-size(40px);
$lh-headline-5: rem-size(32px);
$lh-headline-6: rem-size(24px);
// - Subtitles
$lh-subtitle-1: rem-size(24px);
$lh-subtitle-2: rem-size(24px);
// - Body
$lh-body-1: rem-size(24px);
$lh-body-2: rem-size(24px);
// - Misc
$lh-button: rem-size(24px);
$lh-caption: rem-size(16px);
$lh-overline: rem-size(16px);

// @if $incDeprecated == true {
// The default line-heights - adhere to the grid!
$lh-giant: rs(4)!default;
$lh-huge: rs(3)!default;
$lh-large: rs(2)!default;
$lh-medium: rs(1)!default;
$lh-small: rs(1)!default;
$lh-tiny: rs(1)!default;

$defaultLineHights: (
  "giant" : $lh-giant,
  "huge"  : $lh-huge,
  "large" : $lh-large,
  "medium": $lh-medium,
  "small" : $lh-small,
  "tiny"  : $lh-tiny,
)
!default;
// }

// The default font-weights
// - Headings
$fw-headline-1: 300;
$fw-headline-2: 300;
$fw-headline-3: 400;
$fw-headline-4: 400;
$fw-headline-5: 400;
$fw-headline-6: 500;
// - Subtitles
$fw-subtitle-1: 400;
$fw-subtitle-2: 500;
// - Body
$fw-body-1: 400;
$fw-body-2: 400;
// - Misc
$fw-button: 500;
$fw-caption: 400;
$fw-overline: 400;

// The default letter spacing
// - Headings
$ls-headline-1: rem-size(-1.5px);
$ls-headline-2: rem-size(-0.5px);
$ls-headline-3: rem-size(0px);
$ls-headline-4: rem-size(0.25px);
$ls-headline-5: rem-size(0px);
$ls-headline-6: rem-size(0.15px);
// - Subtitles
$ls-subtitle-1: rem-size(0.15px);
$ls-subtitle-2: rem-size(0.1px);
// - Body
$ls-body-1: rem-size(0.5px);
$ls-body-2: rem-size(0.25px);
// - Misc
$ls-button: rem-size(1.25px);
$ls-caption: rem-size(0.4px);
$ls-overline: rem-size(1.5px);

// The default font case
// - Headings
$fc-headline-1: none;
$fc-headline-2: none;
$fc-headline-3: none;
$fc-headline-4: none;
$fc-headline-5: none;
$fc-headline-6: none;
// - Subtitles
$fc-subtitle-1: none;
$fc-subtitle-2: none;
// - Body
$fc-body-1: none;
$fc-body-2: none;
// - Misc
$fc-button: uppercase;
$fc-caption: none;
$fc-overline: uppercase;

$defaultTypeScale: (
  'headline-1': ('size' : $fs-headline-1, 'height':$lh-headline-1, 'weight': $fw-headline-1, 'spaceing':$ls-headline-1, 'case' : $fc-headline-1),
  'headline-2': ('size' : $fs-headline-2, 'height':$lh-headline-2, 'weight': $fw-headline-2, 'spaceing':$ls-headline-2, 'case' : $fc-headline-2),
  'headline-3': ('size' : $fs-headline-3, 'height':$lh-headline-3, 'weight': $fw-headline-3, 'spaceing':$ls-headline-3, 'case' : $fc-headline-3),
  'headline-4': ('size' : $fs-headline-4, 'height':$lh-headline-4, 'weight': $fw-headline-4, 'spaceing':$ls-headline-4, 'case' : $fc-headline-4),
  'headline-5': ('size' : $fs-headline-5, 'height':$lh-headline-5, 'weight': $fw-headline-5, 'spaceing':$ls-headline-5, 'case' : $fc-headline-5),
  'headline-6': ('size' : $fs-headline-6, 'height':$lh-headline-6, 'weight': $fw-headline-6, 'spaceing':$ls-headline-6, 'case' : $fc-headline-6),
  'subtitle-1': ('size' : $fs-subtitle-1, 'height':$lh-subtitle-1, 'weight': $fw-subtitle-1, 'spaceing':$ls-subtitle-1, 'case' : $fc-subtitle-1),
  'subtitle-2': ('size' : $fs-subtitle-2, 'height':$lh-subtitle-2, 'weight': $fw-subtitle-2, 'spaceing':$ls-subtitle-2, 'case' : $fc-subtitle-2),
  'body-1'    : ('size' : $fs-body-1, 'height':$lh-body-1, 'weight': $fw-body-1, 'spaceing':$ls-body-1, 'case' : $fc-body-1),
  'body-2'    : ('size' : $fs-body-2, 'height':$lh-body-2, 'weight': $fw-body-2, 'spaceing':$ls-body-2, 'case' : $fc-body-2),
  'button'    : ('size' : $fs-button, 'height':$lh-button, 'weight': $fw-button, 'spaceing':$ls-button, 'case' : $fc-button),
  'caption'   : ('size' : $fs-caption, 'height':$lh-caption, 'weight': $fw-caption, 'spaceing':$ls-caption, 'case' : $fc-caption),
  'overline'  : ('size' : $fs-overline, 'height':$lh-overline, 'weight': $fw-overline, 'spaceing':$ls-overline, 'case' : $fc-overline),
)
!default;

// Anything from 45 to 75 characters is regarded as a satisfactory
// length of line for a single-column page
// The 66-character line (counting both letters and spaces) is ideal
// http://mikeyanderson.com/optimal_characters_per_line

// Max with for content sized text
$max-width-small: rs(54)!default;
$max-width-detail: $max-width-small; // deprecated var

// Max with for detail sized text
$max-width-medium: rs(64)!default;
$max-width-content: $max-width-medium; // deprecated var

/* --------------- */
/* 5. COLOR PALLET */
/* --------------- */

// Is this a high contrast theme
$high-contrast: false!default;

// A colors lightness that when exceed will require a dark contrast
$contrast-threshold: 60!default;

/*
 * Colors https://coolors.co/1c77c3-141414-5fad56-eca400-db3a34
 */
$c-dark: #141414!default;
$c-grey: shade-light($c-dark, 5, 15)!default;
$c-mid: shade-light($c-dark, 10, 15)!default;
$c-light: shade-light($c-dark, 14, 15)!default;
$c-white: rgb(255,255,255)!default;

/* Primary */
$c-primary: #1C77C3!default;
$c-primary-1: $c-primary!default;
$c-primary-2: shade-light($c-primary, 1)!default;
$c-primary-3: shade-light($c-primary, 2)!default;
$c-primary-4: shade-light($c-primary, 3)!default;
$c-primary-5: shade-light($c-primary, 4)!default;
/* Accent */
$c-accent: #8F3985!default;
$c-accent-1: $c-accent!default;
$c-accent-2: shade-light($c-accent, 1)!default;
$c-accent-3: shade-light($c-accent, 2)!default;
$c-accent-4: shade-light($c-accent, 3)!default;
$c-accent-5: shade-light($c-accent, 4)!default;
/* Success */
$c-success: #5FAD56!default;
$c-success-1: $c-success!default;
$c-success-2: shade-light($c-success, 1)!default;
$c-success-3: shade-light($c-success, 2)!default;
$c-success-4: shade-light($c-success, 3)!default;
$c-success-5: shade-light($c-success, 4)!default;
/* Alert */
$c-error: #DB3A34!default;
$c-error-1: $c-error!default;
$c-error-2: shade-light($c-error, 1)!default;
$c-error-3: shade-light($c-error, 2)!default;
$c-error-4: shade-light($c-error, 3)!default;
$c-error-5: shade-light($c-error, 4)!default;
/* Warning */
$c-warning: #ECA400!default;
$c-warning-1: $c-warning!default;
$c-warning-2: shade-light($c-warning, 1)!default;
$c-warning-3: shade-light($c-warning, 2)!default;
$c-warning-4: shade-light($c-warning, 3)!default;
$c-warning-5: shade-light($c-warning, 4)!default;
/* Colors used as style modifiers */
$defaultColors: (
  "primary"    : $c-primary,
  "accent"     : $c-accent,
  "success"    : $c-success,
  "error"      : $c-error,
  "warning"    : $c-warning,
  "dark"       : $c-dark,
  "grey"       : $c-grey,
  "mid"        : $c-mid,
  "light"      : $c-light,
  "white"      : $c-white,
  "transparent": transparent,
)
!default;

/* Aliases */
$c-sk-back: $c-mid!default;
$c-sk-front: $c-light!default;
$c-sk-light: lighten($c-sk-front, 2%)!default;

/* ------- */
/* BUTTONS */
/* ------- */
// todo: move to button component scss file

/*
 * Buttons
 */
$btn-background: $c-primary!default;
$btn-color: $c-white!default;
$btn-shadow-color: $c-primary-4!default;
$btn-border-color: $c-primary!default;
/* Hover */
$btn-hover-background: $c-primary-2!default;
$btn-hover-color: $c-white!default;
$btn-hover-border-color: $c-white!default;
/* Selected */
$btn-selected-background: $c-white!default;
$btn-selected-color: $c-primary!default;
/* Selected Hover */
$btn-selected-hover-background: $c-primary-5!default;
$btn-selected-hover-color: $c-primary!default;
/* Disabled */
$btn-disabled-background: $c-primary-2!default;
$btn-disabled-color: $c-primary-4!default;
$btn-disabled-border-color: $c-primary-4!default;
/* Disabled Hover */
$btn-disabled-hover-color: $c-primary-4!default;
$btn-disabled-hover-border-color: $c-primary-4!default;