@mixin pseudo($display: block, $position: absolute, $content: '') {
  content : $content;
  display : $display;
  position: $position;
}
/*
 * Transitions
 */
@mixin transition-all {
  transition: all $transition-duration $transition-timing-function;
}
@mixin input-placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}
@mixin input-glow {
  outline: none;

  &:focus {
    @content;
  }
}
@mixin input-base {
   @include transition-all;
  @extend .content;
  /* Remove Native Style */
  -webkit-appearance: none;
  -moz-appearance   : none;
  appearance        : none;
  background-color  : $c-white;
  border            : 1px solid $c-primary;
  border-radius     : 0;
  color             : $c-dark;
  display           : block;
  padding           : rem-size(($baseline*.25) - 1px) rem-size(($baseline*.5) - 1px);
  width             : 100%;
  @include input-placeholder() {
    color: $c-mid;
  };
  @include input-glow {
    box-shadow: 0 0 0.5rem $c-primary-4;
  };
}
@mixin drop-shadow {
  box-shadow: 4px 4px 3px rgba($c-dark,0.1);

  &:hover {
    box-shadow: 4px 4px 6px rgba($c-dark,0.15);
  }
}
@mixin card-shadow ($level, $down:true) {
  $y: -1;
  @if $down == true {
    $y: 1;
  }
  @if $level == 1 {
    box-shadow: 0 1px*$y 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  @else if $level == 2 {
    box-shadow: 0 3px*$y 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  @else if $level == 3 {
    box-shadow: 0 10px*$y 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  @else if $level == 4 {
    box-shadow: 0 14px*$y 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @else if $level == 5 {
    box-shadow: 0 19px*$y 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}
@mixin mq($width, $type: min) {
   @if map_has_key($breakpoints, $width){
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width + 1px;
    }
    @media only screen and (#{$type}-width: $width) {
       @content;
    }
  }
}
