$display-types: (
  "hidden"            : none,
  "block"             : block,
  "inline-block"      : inline-block,
  "inline"            : inline,
  "flex"              : flex,
  "inline-flex"       : inline-flex,
  "grid"              : grid,
  "table"             : table,
  "table-caption"     : table-caption,
  "table-cell"        : table-cell,
  "table-column"      : table-column,
  "table-column-group": table-column-group,
  "table-footer-group": table-footer-group,
  "table-header-group": table-header-group,
  "table-row-group"   : table-row-group,
  "table-row"         : table-row,
);
@each $name, $display in $display-types {
  // General Display helper classes
  .#{$name} {
    display: $display;
  }
}
// Media query specific display helper classes
@each $modifier, $breakpoint in $mediaModifiers {
  @include mq($breakpoint) {
    @each $name, $display in $display-types {
      .#{$modifier}\:#{$name} {
        display: $display;
      }
    }
  }
}