// Margin Spacing

.m {
  // default alias is the spacing at "2"
  $default: map-get($spacing-scale, "2") * $defaultMargin;
  // default margin
  margin  : rs($default);
  // vertical margin
  &v {
    margin-top   : rs($default);
    margin-bottom: rs($default);
  }
  // horizontal margin
  &h {
    margin-left : rs($default);
    margin-right: rs($default);
  }
  // top margin
  &t {
    margin-top: rs($default);
  }
  // right margin
  &r {
    margin-right: rs($default);
  }
  // bottom margin
  &b {
    margin-bottom: rs($default);
  }
  // left margin
  &l {
    margin-left: rs($default);
  }
  @each $modifier, $scale in $spacing-scale {
    // All the margin
    &-#{$modifier} {
      margin: rs($scale * $defaultMargin);
      @each $media, $mediaMargin in $margin {
        @include mq($media) {
          margin: rs($scale * $mediaMargin);
        }
      }
    }
    // Vertical (top & bottom)
    &v-#{$modifier} {
      margin-top   : rs($scale * $defaultMargin);
      margin-bottom: rs($scale * $defaultMargin);
      @each $media, $mediaMargin in $margin {
        @include mq($media) {
          margin-top   : rs($scale * $mediaMargin);
          margin-bottom: rs($scale * $mediaMargin);
        }
      }
    }
    // Vertical (left & right)
    &h-#{$modifier} {
      margin-left : rs($scale * $defaultMargin);
      margin-right: rs($scale * $defaultMargin);
      @each $media, $mediaMargin in $margin {
        @include mq($media) {
          margin-left : rs($scale * $mediaMargin);
          margin-right: rs($scale * $mediaMargin);
        }
      }
    }
    // Top
    &t-#{$modifier} {
      margin-top: rs($scale * $defaultMargin);
      @each $media, $mediaMargin in $margin {
        @include mq($media) {
          margin-top: rs($scale * $mediaMargin);
        }
      }
    }
    // Right
    &r-#{$modifier} {
      margin-right: rs($scale * $defaultMargin);
      @each $media, $mediaMargin in $margin {
        @include mq($media) {
          margin-right: rs($scale * $mediaMargin);
        }
      }
    }
    // Bottom
    &b-#{$modifier} {
      margin-bottom: rs($scale * $defaultMargin);
      @each $media, $mediaMargin in $margin {
        @include mq($media) {
          margin-bottom: rs($scale * $mediaMargin);
        }
      }
    }
    // Left
    &l-#{$modifier} {
      margin-left: rs($scale * $defaultMargin);
      @each $media, $mediaMargin in $margin {
        @include mq($media) {
          margin-left: rs($scale * $mediaMargin);
        }
      }
    }
  }
}