/* ------------- */
/* 1. TYPOGRAPHY */
/* ------------- */

.t-headline-1 {
  @include headline-1;
}

.t-headline-2 {
  @include headline-2;
}

.t-headline-3 {
  @include headline-3;
}

.t-headline-4 {
  @include headline-4;
}

.t-headline-5 {
  @include headline-5;
}

.t-headline-6 {
  @include headline-6;
}

.t-subtitle-1 {
  @include subtitle-1;
}

.t-subtitle-2 {
  @include subtitle-2;
}

.t-body-1 {
  @include body-1;
}

.t-body-2 {
  @include body-2;
}

.t-paragraph-1 {
  @include body-1;
  margin-bottom: $lh-body-1;
}

.t-paragraph-2 {
  @include body-2;
  margin-bottom: $lh-body-2;
}

.t-button {
  @include button;
}

.t-caption {
  @include caption;
}

.t-overline {
  @include overline;
}

.t-body-1,
.t-body-2,
.t-button,
.t-caption,
.t-headline-1,
.t-headline-2,
.t-headline-3,
.t-headline-4,
.t-headline-5,
.t-headline-6,
.t-overline,
.t-paragraph-1,
.t-paragraph-2,
.t-subtitle-1,
.t-subtitle-2 {
  @include text-color-modifiers;
}

/* --------------- */
/* 2. FONT WEIGHTS */
/* --------------- */

$weights: (
  hairline : 100,
  thin     : 200,
  light    : 300,
  normal   : 400,
  medium   : 500,
  semibold : 600,
  bold     : 700,
  extrabold: 800,
  black    : 900,
);

@each $modifier, $weight in $weights {
  .fw-#{$modifier} {
    font-weight: $weight;
  }

  .hover\:fw-#{$modifier}:hover {
    font-weight: $weight;
  }

  .focus\:fw-#{$modifier}:focus {
    font-weight: $weight;
  }
}

// - Examples -
// .sm:ta-center
// .md:ta-left
// .lg:ta-right
// .xl:ta-justify
@each $modifier, $breakpoint in $mediaModifiers {
  @include mq($breakpoint) {
    .#{$modifier}\:fw {
      @each $modifier, $weight in $weights {
        &-#{$modifier} {
          font-weight: $weight;
        }
      }
    }
  }
}

/* ------------- */
/* 3. TEXT ALIGN */
/* ------------- */

$textAligns: (
  center : center,
  left   : left,
  right  : right,
  justify: justify,
);

// .ta-center
// .ta-left
// .ta-right
// .ta-justify
.ta {
  @each $modifier, $align in $textAligns {
    &-#{$modifier} {
      text-align: $align;
    }
  }
}

// - Examples -
// .sm:ta-center
// .md:ta-left
// .lg:ta-right
// .xl:ta-justify
@each $modifier, $breakpoint in $mediaModifiers {
  @include mq($breakpoint) {
    .#{$modifier}\:ta {
      @each $modifier, $align in $textAligns {
        &-#{$modifier} {
          text-align: $align;
        }
      }
    }
  }
}

/* ------------------ */
/* 3. TEXT DECORATION */
/* ------------------ */

$decorations: (
  overline    : overline,
  underline   : underline,
  line-through: line-through,
  none        : none,
);

// td-overline
// td-underline
// td-line-through
// td-none
@each $modifier, $decoration in $decorations {
  .td-#{$modifier} {
    text-decoration: $decoration;
  }
}

// - Examples -
// .hover:td-overline
// .focus:td-underline
@each $modifier, $decoration in $decorations {
  .hover\:td-#{$modifier}:hover {
    text-decoration: $decoration;
  }

  .focus\:td-#{$modifier}:focus {
    text-decoration: $decoration;
  }
}

// - Examples -
// .sm:td-overline
// .md:td-underline
// .lg:td-line-through
// .xl:td-none
@each $modifier, $breakpoint in $mediaModifiers {
  @include mq($breakpoint) {
    .#{$modifier}\:td {
      @each $modifier, $decoration in $decorations {
        &-#{$modifier} {
          text-direction: $decoration;
        }
      }
    }
  }
}

/* ------------------ */
/* 4. TEXT TRANSFORM */
/* ------------------ */
$textTransforms: (
  capitalize: capitalize,
  lowercase : lowercase,
  none      : none,
  uppercase : uppercase,
);

.tt {
  @each $modifier, $transform in $textTransforms {
    &-#{$modifier} {
      text-transform: $transform;
    }
  }
}

.bw {
  border-width: rem-size(1px);
}

.bc {
  border-color: $c-light;
}

.bs {
  border-style: solid;
}
