.uxs-toolbar {
  background    : $c-primary;
  color         : $c-white;
  display       : flex;
  flex-direction: row;
  padding       : rem-size($baseline*0.5);

  &__title {
    margin        : 0;
    text-transform: none;
    line-height   : rem-size($baseline);
    font-weight   : 400;
  }

  &__back,
  &__title {
    margin-right: rem-size($baseline*0.5);
  }

  &__spacer {
    flex: 1;
  }

  &__action {
    margin-left: rem-size($baseline*0.25);
  }
}

.uxs-header {
  background: $c-primary;
  color     : $c-white;
  overflow  : auto;
  position  : relative;

  &__image {
    background-color   : $c-primary;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    bottom             : 0;
    left               : 0;
    position           : absolute;
    right              : 0;
    top                : 0;
    z-index            : 2;
  }

  &__body {
    position: relative;
    overflow: auto;
    z-index : 2;

    &--with-image {
      background: rgba($c-dark, .5);
    }
  }

  &__toolbar {
    background: transparent;
    color     : inherit;
  }

  &__title {
    margin: rem-size($baseline*5) rem-size($baseline*.5) rem-size($baseline*.5) rem-size($baseline*2);
  }
}