.uxs-icon {
  @include transition-all;
  @extend .material-icons;
  cursor: pointer;

  &:focus,
  &:hover {
    color: darken($c-grey, 10%);
  }

  &--white {
    color: $c-white;

    &:focus,
    &:hover {
      // color: $c-primary;
    }
  }

  &--primary {
    color: $c-primary;

    &:focus,
    &:hover {
      color: $c-primary-3;
    }
  }

  &--accent {
    color: $c-alert;

    &:focus,
    &:hover {
      color: $c-alert-3;
    }
  }
  /**
   * White
   */
  &--white {
    background-color: $c-light;
    color           : $c-dark;
  }
  /**
   * Gray
   */
  &--gray {
    background-color: $c-grey;
    color           : $c-white;
  }
}

.uxs-form__icon {
  $size        : rem-size($baseline*1.5);
  @extend .uxs-icon;
  background   : $c-primary-5;
  border       : 1px solid $c-primary;
  border-radius: 0;
  color        : $c-dark;
  cursor       : pointer;
  display      : block;
  height       : $size;
  line-height  : $size;
  text-align   : center;
  width        : $size;

  &--prefix {
    border-right: 0;
  }

  &--suffix {
    border-left: 0;
  }
}
//
// &__icon {
//   @include transition-all;
//   @extend .material-icons;
//   $size        : rem-size($baseline*1.5);
//   border-radius: rem-size(3px);
//   color        : $c-grey;
//   cursor       : pointer;
//   display      : block;
//   height       : $size;
//   line-height  : $size;
//   margin-left  : rem-size($baseline*.5);
//   text-align   : center;
//   width        : $size;
//
//   &:focus,
//   &:hover {
//     background-color: $c-light;
//   }
//
//   &:first-child {
//     margin-left: 0;
//   }
//
//   &--prefix {
//     background   : $c-primary;
//     border-radius: 0;
//     color        : $c-white;
//   }
// }
//
// &__icon~.form__icon {
//   margin-left: 0;
// }