.uxs-header {
  background: $c-primary;
  color     : $c-white;
  overflow  : auto;
  position  : relative;

  &__image {
    background-color   : $c-primary;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    bottom             : 0;
    left               : 0;
    position           : absolute;
    right              : 0;
    top                : 0;
    z-index            : 2;
  }

  &__body {
    position: relative;
    overflow: auto;
    z-index : 2;

    &--with-image {
      background: rgba($c-dark, .5);
    }
  }

  &__toolbar {
    background: transparent;
    color     : inherit;
  }

  &__title {
    margin: rem-size($baseline*5) rem-size($baseline*.5) rem-size($baseline*.5) rem-size($baseline*2);
  }
}