.uxs-app {
  padding       : rem-size($baseline);
  display       : flex;
  flex-direction: column;
  align-items   : center;
  min-height    : 100%;

  &--has-fixed-navbar {
    margin-top: rem-size($baseline*2);
  }
}