.uxs-form {
  &__fieldset {
    border        : rem-size(1px) solid $c-primary;
    display       : flex;
    flex-direction: column;
    padding       : rem-size($baseline - 1px);
    position      : relative;
    max-width     : $max-width-content;
    margin-bottom : rem-size($baseline*2);

    &--inline {
      border        : none;
      flex-direction: row;
      flex-wrap     : wrap;
      padding       : 0;
      margin-bottom : 0;
    }
  }

  &__text {
    @include type-content;
    line-height: rem-size($baseline*1.5);
  }

  &__fieldset-controls {
    &--inline {
      flex: 1;
      @include mq(tablet) {
        display       : flex;
        flex-direction: row;
      }
    }

    &--inline-mobile {
      flex          : 1;
      display       : flex;
      flex-direction: row;
    }
  }

  &__control-row {
    display       : flex;
    flex-direction: row;
    max-width     : $max-width-content;
  }

  &__control {
    display      : block;
    margin-bottom: rem-size($baseline*.5);
    overflow     : hidden;
    padding-bottom:: rem-size($baseline*1.5);
    position     : relative;

    &--inline {
      @include mq(tablet) {
        margin-right: rem-size($baseline*.5);

        &:last-of-child {
          margin-right: 0;
        }
      }
    }

    &--inline-mobile {
      margin-right: rem-size($baseline*.5);

      &:last-of-child {
        margin-right: 0;
      }
    }
  }

  &__control-meta {
    min-height: rem-size($baseline*1.5);
    position  : relative;
    width     : 100%;

    &--compact {
      min-height: 0;
    }
  }

  &__label,
  &__legend {
    @extend .subheading;
    @include transition-all;
    text-transform: uppercase;
    display       : block;
    margin-bottom : rem-size($baseline*0.5);
    letter-spacing: 1px;

    &--error {
      color: $c-warning;
    }

    &--alert {
      color: $c-alert;
    }

    &--disabled {
      color: $c-grey;
    }
  }

  &__legend {
    background   : $c-white;
    color        : $c-primary;
    margin-bottom: 0;
    padding-left : rem-size($baseline*0.25);
    padding-right: rem-size($baseline*0.25);
    margin-left  : rem-size($baseline*-0.5);
    position     : absolute;
    top          : rem-size($baseline*-0.5);

    &--inline {
      background   : transparent;
      color        : $c-dark;
      padding      : 0;
      margin-left  : 0;
      margin-bottom: rem-size($baseline*0.5);
      position     : relative;
      top          : auto;
      width        : 100%;
    }
  }

  &__select {
    overflow : hidden;
    max-width: $max-width-content;
    width    : 100%;
  }

  &__input {
    &--email,
    &--number,
    &--password,
    &--search,
    &--tel,
    &--text,
    &--textarea,
    &--url {
      @include input-base;
    }

    &--error:not([type=checkbox]):not([type=radio]) {
      border-color: $c-warning;
      color       : $c-warning;
    }

    &--alert:not([type=checkbox]):not([type=radio]) {
      border-color: $c-alert;
      color       : $c-alert;
    }

    &--disabled:not([type=checkbox]):not([type=radio]),
    &:disabled:not([type=checkbox]):not([type=radio]) {
      cursor      : not-allowed;
      color       : rgba($c-dark, 0.5);
      background  : $c-light;
      border-color: $c-mid;
    }

    &--inline {
      margin-right: rem-size($baseline*.5);
      width       : auto;
      flex        : 1;

      &:last-of-type {
        margin-right: 0;
      }
    }
    /* HACK - as dropdowns are not inputs the above last-of-type
     * selector wont cut it. What we really want is a list-of-class */
    &+.uxs-form__input--dropdown,
    &--dropdown+.uxs-form__input {
      margin-left: rem-size($baseline*.5);
    }
  }

  &__error,
  &__tip,
  &__warning {
    bottom  : 1px;
    position: absolute;
  }

  &__error,
  &__warning {
    @extend .content;
    @include transition-all;
    @include text-truncate($max-width-content);
    animation  : slideIn $transition-duration 1;
    //margin     : rem-size($baseline*0.5) 0 0;
    padding    : 0 rem-size($baseline*0.5);
    line-height: rem-size($baseline*1.5);
    clear      : both;
    width      : 100%;
  }

  &__error {
    background-color: $c-warning;
    color           : $c-white;
  }

  &__warning {
    background-color: $c-alert;
    color           : $c-white;
  }

  &__tip {
    @extend .detail;
    @include transition-all;
    clear    : both;
    padding  : 0;
    max-width: $max-width-content;

    &--toggle {
      padding   : 0 rem-size(30px) rem-size($baseline*0.5);
      margin-top: rem-size($baseline*-0.5);
    }
  }

  &__toggle-label {
    @extend .subheading;
    @include text-truncate;
    align-items    : center;
    color          : $c-primary;
    display        : flex;
    justify-content: flex-start;
    padding        : rem-size($baseline*0.25) 0;
    max-width      : $max-width-content;
    user-select    : none;

    &--disabled,
    &:disabled {
      color      : $c-grey;
      font-weight: 400;
    }
  }
}