.bg-dark {
  background-color: $c-dark;
}

.bg-grey {
  background-color: $c-grey;
}

.bg-mid {
  background-color: $c-mid;
}

.bg-light {
  background-color: $c-light;
}

.bg-white {
  background-color: $c-white;
}

.bg-p {
  background-color: $c-primary;
}

.bg-p1 {
  background-color: $c-primary-1;
}

.bg-p2 {
  background-color: $c-primary-2;
}

.bg-p3 {
  background-color: $c-primary-3;
}

.bg-p4 {
  background-color: $c-primary-4;
}

.bg-p5 {
  background-color: $c-primary-5;
}

.bg-a {
  background-color: $c-alert;
}

.bg-a1 {
  background-color: $c-alert-1;
}

.bg-a2 {
  background-color: $c-alert-2;
}

.bg-a3 {
  background-color: $c-alert-3;
}

.bg-a4 {
  background-color: $c-alert-4;
}

.bg-a5 {
  background-color: $c-alert-5;
}

.bg-w {
  background-color: $c-warning;
}

.bg-w1 {
  background-color: $c-warning-1;
}

.bg-w2 {
  background-color: $c-warning-2;
}

.bg-w3 {
  background-color: $c-warning-3;
}

.bg-w4 {
  background-color: $c-warning-4;
}

.bg-w5 {
  background-color: $c-warning-5;
}
