@mixin align-modifiers {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--justify {
    text-align: justify;
  }
}
@mixin color-modifiers {
  &--c-primary {
    color: $c-primary;
  }

  &--c-accent {
    color: $c-accent;
  }

  &--c-alert {
    color: $c-error;
  }

  &--c-warning {
    color: $c-warning;
  }
}
@mixin background-color-modifiers {
  &--bg-primary {
    background-color: $c-primary;
  }

  &--bg-accent {
    background-color: $c-accent;
  }

  &--bg-alert {
    background-color: $c-error;
  }

  &--bg-warning {
    background-color: $c-warning;
  }
}

.italic {
  font-style: italic;
}

.bold {
  @include bold-body-type;
}

.link {
  @include link;
}
/* Font Sizes */
.s-g {
  font-size  : rem-size($s-giant);
  line-height: rem-size($baseline*4);
}

.s-h {
  font-size  : rem-size($s-huge);
  line-height: rem-size($baseline*2);
}

.s-l {
  font-size  : rem-size($s-large);
  line-height: rem-size($baseline*2);
}

.s-m {
  font-size  : rem-size($s-medium);
  line-height: rem-size($baseline);
}

.s-s {
  font-size  : rem-size($s-small);
  line-height: rem-size($baseline);
}
/* Type Styles */
.t-h {
  @include bold-body-type;
}

.t-m {
  @include body-type;
}

.t-l {
  @include light-body-type;
}

.heading {
  @include type-heading;
  @include align-modifiers;
  @include background-color-modifiers;
  @include color-modifiers;
}

.subheading {
  @include type-subheading;
  @include align-modifiers;
  @include background-color-modifiers;
  @include color-modifiers;
}

.content {
  @include type-content;
  @include align-modifiers;
  @include background-color-modifiers;
  @include color-modifiers;
}

.detail {
  @include type-detail;
  @include align-modifiers;
  @include background-color-modifiers;
  @include color-modifiers;
}

.uxs-ol,
.uxs-ul {
  list-style-position: inside;
  margin             : 0 0 rem-size($baseline);
  padding            : 0 0 0 rem-size($baseline);

  &__sublist {
    margin-bottom: 0;
  }
}

.uxs-ol {
  list-style-type: decimal;

  &__list {}
}

.uxs-ul {
  list-style-type: disc;

  &__list {}
}