.icon {
  @include transition-all;
  @extend .material-icons;
  $size        : rem-size($baseline);
  border-radius: 100%;
  color        : $c-grey;
  cursor       : pointer;
  display      : block;
  height       : $size;
  line-height  : $size;
  margin-left  : rem-size($baseline*.5);
  text-align   : center;
  width        : $size;

  &:focus,
  &:hover {
    background-color: rgba($c-dark,.08);
    color           : darken($c-grey, 10%);
  }
  // &--selected,
  // &.active,
  // &.selected {
  //   background-color: $btn-selected-background;
  //   color           : $btn-selected-color;
  //
  //   &:focus,
  //   &:hover {
  //     background-color: $btn-selected-hover-background;
  //     color           : $btn-selected-hover-color;
  //   }
  // }
  //
  // &--selected.button--disabled,
  // &--selected:disabled,
  // &.active.button--disabled,
  // &.active:disabled,
  // &.selected.button--disabled,
  // &.selected:disabled {
  //   background-color: $btn-selected-background;
  //   color           : $btn-selected-color;
  //   font-weight     : 400;
  //
  //   &:focus,
  //   &:hover {
  //     background-color: $btn-selected-background;
  //     color           : $btn-selected-color;
  //   }
  // }
  &--white {
    color: $c-white;

    &:focus,
    &:hover {
      // color: $c-primary;
    }
  }

  &--primary {
    color: $c-primary;

    &:focus,
    &:hover {
      color: $c-primary-3;
    }
  }

  &--alert {
    color: $c-error;

    &:focus,
    &:hover {
      color: $c-error-3;
    }
  }

  &--warning {
    color: $c-warning;

    &:focus,
    &:hover {
      color: $c-warning-3;
    }
  }
}
