table.table--no-margin {
  margin: 0;
}

table.detail {
  max-width: none;

  td,
  th {
    @extend .detail;
  }
}

.table-section {
  td {
    padding-top: rem-size($baseline*1);
  }
}

.table-emphasis {
  td {
    @include bold-body-type;
  }
}

.table-wrap {
  white-space: normal;
}

.uxs-table {
  @include body-type;
  @include content-font-size;

  &--detail {
    @include detail-font-size;
  }

  &__row {}

  &__heading {}

  &__cell {
    &--section {
      padding-top: rem-size($baseline);
    }

    &--numeric {
      text-align: right;
    }

    &--highlight {
      @include bold-body-type;
    }
  }
}