<div class="uxs" style="min-height:100%">
  <div class="fx-col" style="min-height:100%">

    {{demo/nav-bar}}

    <header class="bg-primary c-white p-3 pt-12">
      {{uxs-headline "Single Page" 4}}
    </header>
    <main class="uxs-grid pv-3 ph-1½ fx-auto">
      <div class="uxs-row">
        <div class="uxs-col uxs-col--18 uxs-row">
          <div class="uxs-col uxs-col--9:18 ph-1½">
            {{#uxs-body paragraph=true}}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra diam sit amet nisl suscipit. Mauris vitae ultricies leo integer malesuada. Mauris sit amet massa vitae tortor condimentum lacinia quis vel. Nisl vel pretium lectus quam id leo in vitae. Sed tempus urna et pharetra pharetra massa. Id interdum velit laoreet id donec ultrices. Mi proin sed libero enim sed faucibus turpis in. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Pharetra sit amet aliquam id diam maecenas ultricies. Egestas diam in arcu cursus euismod. Adipiscing diam donec adipiscing tristique risus nec feugiat in.{{/uxs-body}}
          </div>
          <div class="uxs-col uxs-col--9:18 ph-1½">
            {{#uxs-body paragraph=true}}Donec ac odio tempor orci dapibus ultrices in. Iaculis nunc sed augue lacus. Massa tincidunt nunc pulvinar sapien. Arcu cursus vitae congue mauris. Libero nunc consequat interdum varius sit amet mattis vulputate. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Sed adipiscing diam donec adipiscing tristique. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Velit euismod in pellentesque massa placerat duis. Pellentesque habitant morbi tristique senectus et netus et malesuada.{{/uxs-body}}
          </div>
        </div>
        <div class="uxs-col uxs-col--6 ph-1½">
          {{!-- <div class="bg-light"> --}}
            {{#uxs-body scale=2 paragraph=true}}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra diam sit amet nisl suscipit. Mauris vitae ultricies leo integer malesuada. Mauris sit amet massa vitae tortor condimentum lacinia quis vel. Nisl vel pretium lectus quam id leo in vitae. Sed tempus urna et pharetra pharetra massa. Id interdum velit laoreet id donec ultrices. Mi proin sed libero enim sed faucibus turpis in. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Pharetra sit amet aliquam id diam maecenas ultricies. Egestas diam in arcu cursus euismod. Adipiscing diam donec adipiscing tristique risus nec feugiat in.{{/uxs-body}}
          {{!-- </div> --}}
        </div>
      </div>
    </main>
    {{demo/app-footer}}
  </div>
</div>
