{{#docs-demo as |demo|}}

  {{#demo.example name="inline-demo.hbs"}}

    <p>
      Here are some inline buttons
      {{uxs-button
        "BUTTON ONE"
        inline=true
        style="primary"
      }}{{uxs-button
        "BUTTON TWO"
        inline=true
        style="warning"
      }} thanks.
    </p>

  {{/demo.example}}

  {{demo.snippet "inline-demo.hbs"}}
{{/docs-demo}}
