/***
 * Namespace uxs styles so we do not leak into the docs
 */
@import 'include.tools';
@import "settings.variables";

html {
  height: 100%;
}

.ember-application {
  height: 100%;

  > .ember-view {
    height: 100%;
  }
}

.docs-demo-example,
.uxs {
  @include body-type;
  @include content-font-size;
  background: $c-white;
  color     : $c-dark;
  height    : 100%;
  @import 'include.base';
  @import 'include.vendor';
  @import 'include.elements';
  @import 'include.objects';
  @import 'include.components';
  @import 'include.trumps';
}
@import 'include.vendor';

.docs-args-table {
  margin: 16px 0;
  width : 100%;
}