/***
 * Namespace uxs styles so we do not leak into the docs
 */
@import 'uxs/tools.functions';

html {
  height: 100%;
}

body.ember-tether-enabled {
  overflow: hidden;
}

.ember-application {
  height: 100%;

  > .ember-view {
    height: 100%;
  }
}

.docs-demo-example,
.uxs-ns {
  height: 100%;
}
@import 'uxs/settings.variables';
@import 'uxs/include.tools'; // .docs-demo-example,
//

.uxs {
  @import 'uxs/include.base';
  @import 'uxs/include.vendor';
  @import 'uxs/include.elements'; // @include body-type;
  @import 'uxs/include.objects';
  @import 'uxs/include.components';
  @import 'uxs/include.trumps';
  @import 'uxs/include.vendor';
  @include content-font-size;
}

.ember-application {
  @import 'uxs/include.objects';
  @import 'uxs/include.components';
  @import 'uxs/include.vendor';
}