<h1>Navigation</h1>

<p>The nav component is used to render navigation lists.</p>

<h2>Simple Usage</h2>

<p>Let's look at a basic example of a name control where you require two inputs to sit alongside each other</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="nav"}}

    {{#uxs-nav
      align=align
      horizontal=horizontal
      detail=detail
       as |nav|
     }}

      {{#nav.item}}Normal nav item{{/nav.item}}
      {{#nav.item}}And another{{/nav.item}}
      {{#nav.link "docs.index"}}This one is a link{{/nav.link}}

    {{/uxs-nav}}

  {{/demo.example}}

  {{demo.snippet "icons.hbs"}}

{{/docs-demo}}


<h2>Properties</h2>

<p>Now explore the various properties available in this component:</p>

<table class="docs-args-table">
  <tr>
    <td>align</td>
    <td>{{input placeholder="Align Direction" value=align}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><em>Defaults to "left". Possible values are left, right & center.</em></td>
  </tr>
  <tr>
    <td>horizontal</td>
    <td>{{docs-toggle value=horizontal}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>detail</td>
    <td>{{docs-toggle value=detail}}</td>
    <td><em>Boolean</em></td>
  </tr>
</table>
