<h1>Settings</h1>

<p>The following variables are available to customise.</p>

<h2>Colors</h2>

<h3>Base Pallet</h3>
<section class="uxs">
  <div class="uxs-swatch">
    <div class="uxs-swatch__item bg-dark">
      <div class="uxs-swatch__var c-white">$c-dark</div>
    </div>
    <div class="uxs-swatch__item bg-grey">
      <div class="uxs-swatch__var c-white">$c-grey</div>
    </div>
    <div class="uxs-swatch__item bg-mid">
      <div class="uxs-swatch__var c-dark">$c-mid</div>
    </div>
    <div class="uxs-swatch__item bg-light">
      <div class="uxs-swatch__var c-dark">$c-light</div>
    </div>
    <div class="uxs-swatch__item bg-white">
      <div class="uxs-swatch__var c-dark">$c-white</div>
    </div>
  </div>
</section>
<h3>Primary Pallet</h3>
<section class="uxs">
  <div class="uxs-swatch">
    <div class="uxs-swatch__item bg-p1">
      <div class="uxs-swatch__var c-white">$c-primary-1</div>
    </div>
    <div class="uxs-swatch__item bg-p2">
      <div class="uxs-swatch__var c-white">$c-primary-2</div>
    </div>
    <div class="uxs-swatch__item bg-p3">
      <div class="uxs-swatch__var c-white">$c-primary-3</div>
    </div>
    <div class="uxs-swatch__item bg-p4">
      <div class="uxs-swatch__var c-p1">$c-primary-4</div>
    </div>
    <div class="uxs-swatch__item bg-p5">
      <div class="uxs-swatch__var c-p1">$c-primary-5</div>
    </div>
  </div>
</section>
<h3>Accent Pallet</h3>
<section class="uxs">
  <div class="uxs-swatch">
    <div class="uxs-swatch__item bg-a1">
      <div class="uxs-swatch__var c-white">$c-accent-1</div>
    </div>
    <div class="uxs-swatch__item bg-a2">
      <div class="uxs-swatch__var c-white">$c-accent-2</div>
    </div>
    <div class="uxs-swatch__item bg-a3">
      <div class="uxs-swatch__var c-white">$c-accent-3</div>
    </div>
    <div class="uxs-swatch__item bg-a4">
      <div class="uxs-swatch__var c-a1">$c-accent-4</div>
    </div>
    <div class="uxs-swatch__item bg-a5">
      <div class="uxs-swatch__var c-a1">$c-accent-5</div>
    </div>
  </div>
</section>
<h3>Success Pallet</h3>
<section class="uxs">
  <div class="uxs-swatch">
    <div class="uxs-swatch__item bg-s1">
      <div class="uxs-swatch__var c-white">$c-success-1</div>
    </div>
    <div class="uxs-swatch__item bg-s2">
      <div class="uxs-swatch__var c-white">$c-success-2</div>
    </div>
    <div class="uxs-swatch__item bg-s3">
      <div class="uxs-swatch__var c-white">$c-success-3</div>
    </div>
    <div class="uxs-swatch__item bg-s4">
      <div class="uxs-swatch__var c-s1">$c-success-4</div>
    </div>
    <div class="uxs-swatch__item bg-s5">
      <div class="uxs-swatch__var c-s1">$c-success-5</div>
    </div>
  </div>
</section>
<h3>Warning Pallet</h3>
<section class="uxs">
  <div class="uxs-swatch">
    <div class="uxs-swatch__item bg-w1">
      <div class="uxs-swatch__var c-white">$c-warning-1</div>
    </div>
    <div class="uxs-swatch__item bg-w2">
      <div class="uxs-swatch__var c-white">$c-warning-2</div>
    </div>
    <div class="uxs-swatch__item bg-w3">
      <div class="uxs-swatch__var c-white">$c-warning-3</div>
    </div>
    <div class="uxs-swatch__item bg-w4">
      <div class="uxs-swatch__var c-w1">$c-warning-4</div>
    </div>
    <div class="uxs-swatch__item bg-w5">
      <div class="uxs-swatch__var c-w1">$c-warning-5</div>
    </div>
  </div>
</section>
<h3>Error Pallet</h3>
<section class="uxs">
  <div class="uxs-swatch">
    <div class="uxs-swatch__item bg-e1">
      <div class="uxs-swatch__var c-white">$c-error-1</div>
    </div>
    <div class="uxs-swatch__item bg-e2">
      <div class="uxs-swatch__var c-white">$c-error-2</div>
    </div>
    <div class="uxs-swatch__item bg-e3">
      <div class="uxs-swatch__var c-white">$c-error-3</div>
    </div>
    <div class="uxs-swatch__item bg-e4">
      <div class="uxs-swatch__var c-e1">$c-error-4</div>
    </div>
    <div class="uxs-swatch__item bg-e5">
      <div class="uxs-swatch__var c-e1">$c-error-5</div>
    </div>
  </div>
</section>
