<h1>Settings</h1>

<p>The following variables are available to customise.</p>

<h2>Font Sizes</h2>


{{#docs-demo as |demo|}}

  {{#demo.example name="font-sizes"}}

    <h1 class="s-g">Giant / 76.244px</h1>
    <h1 class="s-h">Huge / 47.123px</h1>
    <h1 class="s-l">Large / 29.124px</h1>
    <h1 class="s-m">Medium / 18px</h1>
    <h1 class="s-s">Small / 11.125px</h1>

  {{/demo.example}}

  {{demo.snippet "font-sizes.hbs"}}

{{/docs-demo}}

<h2>Type Settings</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="types"}}

    <h1 class="t-h">Heavy Type orci etiam platea parturient lectus urna a id in adipiscing proin interdum vel dis pretium ut at condimentum nisl in suspendisse urna auctor hac venenatis.</h1>
    <h1 class="t-m">Medium Type orci etiam platea parturient lectus urna a id in adipiscing proin interdum vel dis pretium ut at condimentum nisl in suspendisse urna auctor hac venenatis.</h1>
    <h1 class="t-l">Light Type orci etiam platea parturient lectus urna a id in adipiscing proin interdum vel dis pretium ut at condimentum nisl in suspendisse urna auctor hac venenatis.</h1>

  {{/demo.example}}

  {{demo.snippet "types.hbs"}}

{{/docs-demo}}
