{{#if scroll}}
  <div class="uxs-tiles__group-scroll">
    {{yield (hash
      tile=(component "uxs-tiles/tile" size=size style=style)
    )}}
  </div>
{{else}}
  {{yield (hash
    tile=(component "uxs-tiles/tile" size=size style=style)
  )}}
{{/if}}
