{{#if image}}
  {{uxs-header/background image=image style=(style)}}
{{/if}}

<div class={{bem b "body" m}}>
  {{yield
    (
      hash
      toolbar=(
        component
        "uxs-toolbar"
        style=style
        class=(bem b "toolbar" m)
      )
      title=(
        component
        "uxs-heading"
        style=style
        base=(concat b "__title")
      )
    )
  }}
</div>
