{{#if image}}
  {{uxs-hero/background image=image style=style}}
{{/if}}
<div class={{bem b "body" m}}>
  {{yield
    (
      hash
      heading=(component "uxs-heading" class=(bem b "heading" m))
      content=(component "uxs-content" class=(bem b "content" m))
      button=(component "uxs-button"  inline=true class=(bem b "button" m))
      link=(component "uxs-button-link" inline=true class=(bem b "button" m))
    )
  }}
</div>
