{{uxs-icon
  searchIcon
  svg=svg
  style=style
  class=(bem b "open" m)
  onClick=(action "openSearch")
}}
<div class={{bem b "wrapper" m}}>
  {{#if showSearch}}
    {{uxs-form-input
      class=(bem b "input" m)
      value=value
    }}
    {{uxs-icon
      closeIcon
      svg=svg
      style=style
      class=(bem b "close" m)
      onClick=(action "closeSearch")
    }}
  {{/if}}x
</div>
