<label
  class="docs-py-3 docs-md:w-2/3 docs-block docs-text-grey docs-font-bold"
  for={{name}}
>
  {{input
    checked=value
    class="docs-mr-2 docs-leading-tight"
    type="checkbox"
  }}
  <span class="docs-text-sm">
    {{value}}
  </span>
</label>
