{{#docs-demo as |demo|}}

  {{#demo.example name="inline-demo.hbs"}}

    <p>
      Here are some inline links
      {{uxs-button-link
        "BUTTONS"
        "docs.forms.buttons"
        inline=true
        style="primary"
      }}{{uxs-button-link
        "BUTTON LINKS"
        "docs.forms.button-links"
        inline=true
        style="primary"
      }} thanks.
    </p>

  {{/demo.example}}

  {{demo.snippet "inline-demo.hbs"}}
{{/docs-demo}}
