{{#if isShowingDrawer}}

  {{#modal-dialog
      onClose=(action "toggleDrawer")
      translucentOverlay=true
      tetherTarget="body"
      targetAttachment="top left"
      targetModifier="visible"
      attachment="top left"
      containerClass="drawer-modal__container"
      overlayClass="drawer-modal__overlay"
      wrapperClass="drawer-modal__wrapper"
      animatable=true
  }}
    <div {{action "toggleDrawer"}} class="drawer-modal__body">
      {{yield (hash drawer=(component "uxs-drawer" style="modal"))}}
    </div>

  {{/modal-dialog}}

{{/if}}
