<div class="uxs">
  {{#uxs-navbar name="AppName" as |bar|}}
    {{#bar.logo}}{{/bar.logo}}
    {{#bar.nav as |nav|}}
      {{nav.item "Home"}}
      {{nav.item "Account"}}
      {{nav.item "Logout"}}
    {{/bar.nav}}
  {{/uxs-navbar}}
</div>
