<div class="uxs">
  <section class="uxs-container">
    <div class="uxs-navbar">
      <div class="uxs-navbar__logo">AppName</div>
      <ul class="uxs-navbar__links">Login</ul>
    </div>

    <ul class="uxs-nav">
      <li class="uxs-nav__item">
        Link
      </li>
      <li class="uxs-nav__item">
        Link
      </li>
      <li class="uxs-nav__item">
        Link
      </li>
      <li class="uxs-nav__item">
        Link
      </li>
    </ul>

    <ul class="uxs-nav uxs-nav--detail">
      <li class="uxs-nav__item">
        Link
      </li>
      <li class="uxs-nav__item">
        Link
      </li>
      <li class="uxs-nav__item">
        Link
      </li>
      <li class="uxs-nav__item">
        Link
      </li>
    </ul>

    <ul class="uxs-nav uxs-nav--horizontal">
      <li class="uxs-nav__item uxs-nav__item--horizontal">
        Link
      </li>
      <li class="uxs-nav__item uxs-nav__item--horizontal">
        Link
      </li>
      <li class="uxs-nav__item uxs-nav__item--horizontal">
        Link
      </li>
      <li class="uxs-nav__item uxs-nav__item--horizontal">
        Link
      </li>
    </ul>
    {{!-- {{docs-navbar logo='ember-cli' name='AddonDocs'}} --}}
  </section>
</div>
