{{docs-hero
  logo='ember-cli'
  slim-heading='Ember'
  strong-heading='UXSauce'
  byline='Common components and patterns for ember apps'}}

<div class='docs-container docs-md'>
  <section class='docs-section'>
    <p>Looking for the quickstart? {{link-to 'Click here' 'docs.quickstart'}}</p>
  </section>
</div>
