<div class='docs-container docs-md'>

  <section class='docs-max-w-md docs-mx-auto docs-pb-8'>

    <h1 class='docs-flex docs-items-center docs-mt-8 docs-h1'>Not found</h1>

    <p>
      This page doesn't exist. {{#link-to 'index'}}Head home?{{/link-to}}
    </p>

  </section>

</div>
