{{!-- <div class="ember-view"> --}}
  <div class="uxs uxs-app uxs-app--has-fixed-navbar ember-view">
    <div class="scrolling-wrapper-flexbox">
      <div class="card"><h2>Card</h2></div>
      <div class="card"><h2>Card</h2></div>
      <div class="card"><h2>Card</h2></div>
      <div class="card"><h2>Card</h2></div>
      <div class="card"><h2>Card</h2></div>
      <div class="card"><h2>Card</h2></div>
      <div class="card"><h2>Card</h2></div>
      <div class="card"><h2>Card</h2></div>
      <div class="card"><h2>Card</h2></div>
    </div>
  </div>
{{!-- </div> --}}
