<footer class="bg-mid c-dark ph-3 pv-2">
  <div class="media-debug">
    <div class="
      media-debug__size
      media-debug__size--xs
      sm:hidden">xs</div>
    <div class="
      media-debug__size
      media-debug__size--sm
      hidden
      sm:block
    ">sm</div>
    <div class="
      media-debug__size
      media-debug__size--md
      hidden
      md:block
    ">md</div>
    <div class="
      media-debug__size
      media-debug__size--lg
      hidden
      lg:block
    ">lg</div>
    <div class="
      media-debug__size
      media-debug__size--xl
      hidden
      xl:block
    ">xl</div>
  </div>
  {{uxs-subtitle "Footer" class="ta-center"}}
</footer>
