{{#docs-demo as |demo|}}

  {{#demo.example name="opacity.hbs"}}

    <div class="uxs">
      <div class="fx-row fx-ai-stretch mv-2 bg-light p-1">
        <div class="p-1 w-4 mr-1 c-white fx-auto ta-center bg-primary op-100">.op-100</div>
        <div class="p-1 w-4 mr-1 c-white fx-auto ta-center bg-primary op-80">.op-80</div>
        <div class="p-1 w-4 mr-1 c-white fx-auto ta-center bg-primary op-60">.op-60</div>
        <div class="p-1 w-4 mr-1 c-white fx-auto ta-center bg-primary op-40">.op-40</div>
        <div class="p-1 w-4 mr-1 c-white fx-auto ta-center bg-primary op-20">.op-20</div>
        <div class="p-1 w-4 c-white fx-auto ta-center bg-primary op-0">.op-0</div>
      </div>
    </div>

  {{/demo.example}}

  {{demo.snippet "opacity.hbs"}}
{{/docs-demo}}
