{{#docs-demo as |demo|}}

  {{#demo.example name="body-type-demo.hbs"}}

    <div class="uxs">
      {{#uxs-body scale=1 paragraph=true}}Body 1 condimentum maecenas sem mi purus at hendrerit augue tempor ac hendrerit ad sociis eleifend habitant ultrices parturient iaculis condimentum vestibulum sem a praesent luctus cum. Class vestibulum arcu dignissim aliquet adipiscing fames odio.{{/uxs-body}}

      {{#uxs-body scale=2}}Body 2 phasellus purus enim condimentum ullamcorper nulla ipsum nulla tempor sociosqu vestibulum a a ad viverra nisi interdum senectus eu vel. Sed mi vestibulum a dui nisi varius mattis accumsan mattis blandit in posuere consectetur lacus gravida ullamcorper ut a etiam adipiscing a senectus.{{/uxs-body}}
    </div>

  {{/demo.example}}

  {{demo.snippet "body-type-demo.hbs"}}

{{/docs-demo}}
