{{#docs-demo as |demo|}}

  {{#demo.example name="button-type-demo.hbs"}}

    <div class="uxs">
      <p class="t-button mb">Button</p>
    </div>

  {{/demo.example}}

  {{demo.snippet "button-type-demo.hbs"}}

{{/docs-demo}}
