{{#docs-demo as |demo|}}

  {{#demo.example name="button-type-demo.hbs"}}

    <div class="uxs">
      {{uxs-text "My Button" "button"}}
    </div>

  {{/demo.example}}

  {{demo.snippet "button-type-demo.hbs"}}

{{/docs-demo}}
