{{#docs-demo as |demo|}}

  {{#demo.example name="caption-overline-type-demo.hbs"}}

    <div class="uxs">
      {{uxs-caption "Caption" class="mb"}}
      {{uxs-overline "Overline" class="mb"}}
    </div>

  {{/demo.example}}

  {{demo.snippet "caption-overline-type-demo.hbs"}}

{{/docs-demo}}
