{{#docs-demo as |demo|}}

  {{#demo.example name="headline-type-demo.hbs"}}

    <div class="uxs">
      <h1 class="t-headline-1 mb">Headline 1</h1>
      <h2 class="t-headline-2 mb">Headline 2</h2>
      <h3 class="t-headline-3 mb">Headline 3</h3>
      <h4 class="t-headline-4 mb">Headline 4</h4>
      <h5 class="t-headline-5 mb">Headline 5</h5>
      <h6 class="t-headline-6 mb">Headline 6</h6>
    </div>

  {{/demo.example}}

  {{demo.snippet "headline-type-demo.hbs"}}

{{/docs-demo}}
