{{#docs-demo as |demo|}}

  {{#demo.example name="subtitle-type-demo.hbs"}}

    <div class="uxs">
      {{uxs-subtitle "Subtitle 1" 1 class="mb"}}
      {{uxs-subtitle "Subtitle 2" 2 class="mb"}}
    </div>

  {{/demo.example}}

  {{demo.snippet "subtitle-type-demo.hbs"}}

{{/docs-demo}}
