{{#docs-demo as |demo|}}

  {{#demo.example name="subtitle-type-demo.hbs"}}

    <div class="uxs">
      <h1 class="t-subtitle-1 mb">Subtitle 1</h1>
      <h2 class="t-subtitle-2 mb">Subtitle 2</h2>
    </div>

  {{/demo.example}}

  {{demo.snippet "subtitle-type-demo.hbs"}}

{{/docs-demo}}
