{{#uxs-header
  image="https://placeimg.com/2560/1600/any/grayscale"
  style="dark on-white"
as |header|
}}
  {{#header.toolbar as |toolbar|}}
    {{toolbar.spacer}}
  {{/header.toolbar}}
  {{header.logo "sauce-logo.large"}}
{{/uxs-header}}

{{#uxs-window style="dashboard"}}

  {{#uxs-pane full=true padded=true style="dashboard"}}

    <div class="uxs-tiles__group">
      <div class="uxs-tiles__item uxs-tiles__item--medium"></div>
      <div class="uxs-tiles__item uxs-tiles__item--medium"></div>
      <div class="uxs-tiles__item uxs-tiles__item--medium"></div>
    </div>

    <div class="uxs-tiles__group uxs-tiles__group--scroll">
      <div class="uxs-tiles__group-scroll">
        <div class="uxs-tiles__item uxs-tiles__item--small"></div>
        <div class="uxs-tiles__item uxs-tiles__item--small"></div>
        <div class="uxs-tiles__item uxs-tiles__item--small"></div>
        <div class="uxs-tiles__item uxs-tiles__item--small"></div>
        <div class="uxs-tiles__item uxs-tiles__item--small"></div>
        <div class="uxs-tiles__item uxs-tiles__item--small"></div>
        <div class="uxs-tiles__item uxs-tiles__item--small"></div>
        <div class="uxs-tiles__item uxs-tiles__item--small"></div>
        <div class="uxs-tiles__item uxs-tiles__item--small"></div>
      </div>
    </div>

    <div class="uxs-tiles__group">
      <div class="uxs-tiles__item uxs-tiles__item--large"></div>
      <div class="uxs-tiles__item uxs-tiles__item--large"></div>
      <div class="uxs-tiles__item uxs-tiles__item--large"></div>
    </div>

  {{/uxs-pane}}

{{/uxs-window}}
