{{#docs-demo as |demo|}}

  {{#demo.example name="window-basic-demo"}}

    {{#uxs-window style="primary"}}
      <div class="p ac fg">Primary</div>
      <div class="p ac fg">Primary</div>
      <div class="p ac fg">Primary</div>
    {{/uxs-window}}
    {{#uxs-window style="accent"}}
      <div class="p ac fg">Accent</div>
      <div class="p ac fg">Accent</div>
      <div class="p ac fg">Accent</div>
    {{/uxs-window}}
    {{#uxs-window style="warning"}}
      <div class="p ac fg">Warning</div>
      <div class="p ac fg">Warning</div>
      <div class="p ac fg">Warning</div>
    {{/uxs-window}}
    {{#uxs-window style="error"}}
      <div class="p ac fg">Error</div>
      <div class="p ac fg">Error</div>
      <div class="p ac fg">Error</div>
    {{/uxs-window}}
    {{#uxs-window style="dark"}}
      <div class="p ac fg">Dark</div>
      <div class="p ac fg">Dark</div>
      <div class="p ac fg">Dark</div>
    {{/uxs-window}}
    {{#uxs-window style="grey"}}
      <div class="p ac fg">Grey</div>
      <div class="p ac fg">Grey</div>
      <div class="p ac fg">Grey</div>
    {{/uxs-window}}
    {{#uxs-window style="mid"}}
      <div class="p ac fg">Mid</div>
      <div class="p ac fg">Mid</div>
      <div class="p ac fg">Mid</div>
    {{/uxs-window}}
    {{#uxs-window style="light"}}
      <div class="p ac fg">Light</div>
      <div class="p ac fg">Light</div>
      <div class="p ac fg">Light</div>
    {{/uxs-window}}
    {{#uxs-window style="white"}}
      <div class="p ac fg">White</div>
      <div class="p ac fg">White</div>
      <div class="p ac fg">White</div>
    {{/uxs-window}}

  {{/demo.example}}

  {{demo.snippet "window-basic-demo.hbs"}}

{{/docs-demo}}
