{{#docs-demo as |demo|}}

  {{#demo.example name="window-image-demo"}}

    {{#uxs-window image=image}}
      <div class="p c-p5 ac fg">Col 1</div>
      <div class="p c-p5 ac fg">Col 2</div>
      <div class="p c-p5 ac fg">Col 3</div>
    {{/uxs-window}}

  {{/demo.example}}

  {{#args-table "text-image-demo" as |table|}}
    {{#table.row "image" as |row|}}
      {{row.label "Image URL"}}
      {{row.input image}}
      {{row.type "String"}}
    {{/table.row}}
  {{/args-table}}

  {{demo.snippet "window-image-demo.hbs"}}

{{/docs-demo}}
